.card-list__card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "character-image character-info";
  padding: 20px;
  background: #fff;
  border: 1px solid #cacaca;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);

  .character-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.2fr 0.3fr 2fr 1fr;
    grid-template-areas:
      "character-name character-name"
      "character-origin character-origin"
      "character-abilities__title character-abilities__title"
      "character-abilities character-abilities"
      "like-button delete-button";
    padding: 0 20px;
    background: #d4e2e8;
  }

  .character-image {
    height: 100%;
    width: 100%;
  }

  .character-name {
    grid-area: character-name;
    font-size: 1.2rem;
    margin: 10px 0 0;
  }

  .character-origin {
    grid-area: character-origin;
    font-size: 0.8rem;
    margin: 0;
  }

  .character-abilities__title {
    grid-area: character-abilities__title;
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .character-abilities {
    grid-area: character-abilities;
    margin: 0;
    font-size: 0.8rem;
    text-align: left;
  }

  .character-ability {
  }
}

.like-button {
  grid-area: like-button;
  font-size: 2rem;
}

.like-button--liked {
  color: #f00;
}

.delete-button {
  grid-area: delete-button;
  color: #f00;
  font-size: 2rem;
}
